[submodule "doxyfw"]
	path = framework/doxyfw
	url = https://github.com/Hondarer/doxygen-framework.git
[submodule "testfw"]
	path = framework/testfw
	url = https://github.com/Hondarer/googletest-c-framework.git
[submodule "makefw"]
	path = framework/makefw
	url = https://github.com/Hondarer/make-framework.git
[submodule "docsfw"]
	path = framework/docsfw
	url = https://github.com/Hondarer/pub_markdown.git
[submodule "app/com_util"]
	path = app/com_util
	url = https://github.com/Hondarer/app_com_util.git
[submodule "app/porter"]
	path = app/porter
	url = https://github.com/Hondarer/app_porter.git
[submodule "app/cjson"]
	path = app/cjson
	url = https://github.com/Hondarer/app_cjson.git
