---
{% if exists("title") -%}
title: {% if title == "Files" %}ファイルの一覧{% else  if title == "Modules" %}カテゴリーの一覧{% else %}{{title}}{% endif %}
{% else if exists("name") -%}
title: {{name}}
{% endif -%}
{% if exists("summary") -%}
summary: {{summary}}
{% endif -%}
{% include "meta" %}
---

{% if exists("title") -%}
# {% if title == "Files" %}ファイルの一覧{% else  if title == "Modules" %}カテゴリーの一覧{% else %}{{title}}{% endif %}
{% else if exists("kind") and kind != "page" -%}
# {{name}} {{title(kind)}} Reference
{% endif %}
