{# TODO: dir なら📁、file なら📄を使いたい #}
{% for child0 in children %}* {{child0.kind}} {% if child0.kind == "dir" %}{{child0.title}}{% else %}[{{child0.title}}]({{child0.url}}){% endif %} {% if existsIn(child0, "brief") %}<br/>{{child0.brief}}{% endif %}{% if existsIn(child0, "children") %}{% for child1 in child0.children %}
    * {{child1.kind}} {% if child1.kind == "dir" %}{{child1.title}}{% else %}[{{child1.title}}]({{child1.url}}){% endif %} {% if existsIn(child1, "brief") %}<br/>{{child1.brief}}{% endif %}{% if existsIn(child1, "children") %}{% for child2 in child1.children %}
        * {{child2.kind}} {% if child2.kind == "dir" %}{{child2.title}}{% else %}[{{child2.title}}]({{child2.url}}){% endif %} {% if existsIn(child2, "brief") %}<br/>{{child2.brief}}{% endif %}{% if existsIn(child2, "children") %}{% for child3 in child2.children %}
            * {{child3.kind}} {% if child3.kind == "dir" %}{{child3.title}}{% else %}[{{child3.title}}]({{child3.url}}){% endif %} {% if existsIn(child3, "brief") %}<br/>{{child3.brief}}{% endif %}{% if existsIn(child3, "children") %}{% for child4 in child3.children %}
                * {{child4.kind}} {% if child4.kind == "dir" %}{{child4.title}}{% else %}[{{child4.title}}]({{child4.url}}){% endif %} {% if existsIn(child4, "brief") %}<br/>{{child4.brief}}{% endif %}{% if existsIn(child4, "children") %}{% for child5 in child4.children %}
                    * {{child5.kind}} {% if child5.kind == "dir" %}{{child5.title}}{% else %}[{{child5.title}}]({{child5.url}}){% endif %} {% if existsIn(child5, "brief") %}<br/>{{child5.brief}}{% endif %}{% if existsIn(child5, "children") %}{% for child6 in child5.children %}
                        * {{child6.kind}} {% if child6.kind == "dir" %}{{child6.title}}{% else %}[{{child6.title}}]({{child6.url}}){% endif %} {% if existsIn(child6, "brief") %}<br/>{{child6.brief}}{% endif %}{% if existsIn(child6, "children") %}{% for child7 in child6.children %}
                            * {{child7.kind}} {% if child7.kind == "dir" %}{{child7.title}}{% else %}[{{child7.title}}]({{child7.url}}){% endif %} {% if existsIn(child7, "brief") %}<br/>{{child7.brief}}{% endif %}{% endfor %}{% endif %}{% endfor %}{% endif %}{% endfor %}{% endif %}{% endfor %}{% endif %}{% endfor %}{% endif %}{% endfor %}{% endif %}{% endfor %}{% endif %}
{% endfor %}
